.recipes {
    background: black;
    color: white;
}

#title {
    font-weight: 800;
    background-color: rgba(128, 18, 18, 0.884);
    text-decoration: underline;
    text-align: center;
}

h2 {
    font-weight: 500;
    background-color: rgba(128, 18, 18, 0.884);
    text-align: center;
    text-decoration: underline;
}

.dish {
    height: 200px;
    width: 200px;
    
}

#img1 {
    float: inline-start;
    float: top;
}

#img2 {
    float: inline-end;
}

img {
    height: 37px;
    width: auto;
    color: white;
}

div {
    text-align: center;
}

p {
    text-align: center;
}

h3 {
    text-align: center;
    background-color: rgba(128, 18, 18, 0.884);
}